* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 30px;
}

.product-card {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding-top: 2.5rem;
  margin-top: 3rem;
}

.product-card h5 {
  position: absolute;
  top: 0;
  left: 1rem;
  transform: translateY(-50%);
  background-color: white;
  padding: 0 1rem;
  margin: 0;
  font-size: 1.25rem;
  color: #333;
}

.container {
  border: 1px solid black;
  border-radius: 5px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

.form-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 95%;
  margin: auto;
}

h2 {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: rgb(0, 132, 255);
}
